@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

@font-face {
  font-family: "Windows";
  src: url('../src/fonts/Windows_Regular.ttf');
 }

* {
  font-family: "Windows";
}